@{
    ViewData["Title"] = "Home Page";
}

<div class="container flex-grow-1 d-flex flex-column">
    <div class="row flex-grow-1 justify-content-center align-items-center">
        <div class="col-12 text-center py-3 rounded-3">
            <span class="display-5">Welcome to the Cinema Ticket Office application!</span>
        </div>
        <div class="col-12 text-center">
            <img class="img-fluid w-50" src="https://img.freepik.com/free-vector/vector-two-designed-cinema-tickets-close-up-top-view-isolated-white-background_1284-47320.jpg?w=900&t=st=1688488503~exp=1688489103~hmac=2349e9d7328625a2a1f07ef254d4ee7b033af85daf3736ae71ea6c6a6ab0041e" />
        </div>
    </div>
</div>
