@{
    ViewData["Title"] = "Access Denied";
}

<div class="container flex-grow-1 d-flex flex-column">
    <div class="row flex-grow-1 justify-content-center align-items-center">
        <div class="col bg-danger-subtle text-center py-3 rounded-3">
            <span class="display-1">ACCESS DENIED</span>
        </div>
    </div>
</div>